.banner(style="background-image: url('img/head-bg.jpg')")
.banner-content
    p «В это не просто поверить, но „Смешарикам“ уже почти 20 лет! Проект стал неотъемлемой частью российской поп-культуры, разросся до гигантских масштабов и даже вышел за пределы анимации.
