section.section
    .container
        h2.section-title Event participants
        .event
            .event-box
                img(src="img/event.jpg" alt="pic")
                .event-box__content
                    h3 Lorem insum
                    p Сео
                    p Lorem insum
            .event-box
                img(src="img/event.jpg" alt="pic")
                .event-box__content
                    h3 Lorem insum
                    p Сео
                    p Lorem insum
            .event-box
                img(src="img/event.jpg" alt="pic")
                .event-box__content
                    h3 Lorem insum
                    p Сео
                    p Lorem insum
            .event-box
                img(src="img/event.jpg" alt="pic")
                .event-box__content
                    h3 Lorem insum
                    p Сео
                    p Lorem insum
