section.section
    .container
        h2.section-title Еще по теме
        .theme
            .theme-box
                img(src="img/theme.jpg" alt="pic")
                .theme-box__content
                    h3 Lorem insum
                    p Сео
                    p Lorem insum
            .theme-box
                img(src="img/theme.jpg" alt="pic")
                .theme-box__content
                    h3 Lorem insum
                    p Сео
                    p Lorem insum
            .theme-box
                img(src="img/theme.jpg" alt="pic")
                .theme-box__content
                    h3 Lorem insum
                    p Сео
                    p Lorem insum
