.ticket
    .ticket-box
        .ticket-box__item
            h3.ticket-title Лорем ипсум долор сит
            ul.ticket-list
                li.ticket-list__item
                    a.ticket-list__link
                        i.far.fa-map-marker-alt
                        span Парк Горького | Москва, ул. Крымский вал, 9.
                li.ticket-list__item
                    a.ticket-list__link
                        i.far.fa-clock
                        span Воскресенье | 18.00h
            p.ticket-content Share with friends
            ul.ticket-list.ticket-list-footer
                li.ticket-list__item
                    a.ticket-list__link
                        i.fab.fa-facebook-f
                li.ticket-list__item
                    a.ticket-list__link
                        i.fab.fa-instagram
                li.ticket-list__item
                    a.ticket-list__link
                        i.fab.fa-twitter
                li.ticket-list__item
                    a.ticket-list__link
                        i.fab.fa-linkedin-in
                li.ticket-list__item
                    a.ticket-list__link
                        i.fab.fa-youtube

        .ticket-box__item
            h3.ticket-title Register to event now
            p.ticket-content.ticket-content-inner Click to add event to your calendar
                span.ticket-content-bg
                    svg.svg-ico
                        use(xlink:href='#ticket')
            button.ticket-btn Ad to calendar
